Hi!


You're email address was recently used to register an account at #{root_url(:host => APP_CONFIG[:host])}. To activate your account, please click on the following link:


= verify_url(@user.id, @user.verification_key, :host => APP_CONFIG[:host])


Thank you
