%h2 About Molehill
%p
  Thanks for trying out
  = "#{link_to "Molehill", "http://github.com/cblunt/molehill"};"
  an experimental, minimalist software issue tracker.

%p
  %strong Other issue trackers do a lot:
  software versions,
  project roadmaps, 
  time estimates,
  gantt charts, 
  timelines
  developer scheduling,
  nested cases,
  milestones,
  SCM integration,
  forums and wikis...

%p
  %strong Molehill doesn't do any of these things.

%p
  They just take up time. 
  %strong Time that would be much better spent actually writing code
  to fix bugs and build apps in the first place.

%h3 How to use Molehill

%ol#steps
  %li 
    Write a new bug, request, question or message and hit
    %strong Post Case.
  %li 
    If you see a case you like,
    %strong promote 
    it to improve its score, and move it to the top of the list.
  %li 
    You can tag your case with 
    %strong="#hashtags"
    , just like Twitter. Hash tags let you filter cases.
  %li
    If you're the developer, 
    %strong write code
    to fix the cases at the top of the list.
  %li
    When the case is fixed or implemented, mark it as
    %strong complete
    (or
    %strong declined
    if it's not going to be fixed).

%h3 Developers
%p
  Molehill is open source, released under the MIT licence. You can grab a copy of the latest code
  from 
  = link_to "github", "http://github.com/cblunt/molehill"
  and setup your own Molehill server
