body {
  background-color: #efefff;
  background-image: url(/images/page_background.jpg);
  background-repeat: repeat-x;
  font-family: Verdana, Helvetica, Arial;
  font-size: 13px; }

a {
  color: #3366ff; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.hidden {
  display: none; }

.container {
  clear: both;
  width: 600px;
  margin: 0 0 0 20px;
  margin-top: 20px; }

#header {
  width: 680px; }
  #header h1 {
    float: left;
    margin: 10px 0 0 0;
    font-weight: normal; }
  #header ol#navigation {
    float: right; }
    #header ol#navigation li {
      float: left; }
    #header ol#navigation a, #header ol#navigation span {
      display: block;
      padding: 5px 5px; }

#content {
  padding: 20px 40px;
  background: #fff;
  border: solid 1px #909090; }

#flash_notice,
#flash_success,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_success {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_notice {
  background-color: #FFC;
  border: solid 1px #CC6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

ol, ul {
  list-style-type: none;
  padding-left: 10px; }
  ol li p, ul li p {
    padding: 0 0;
    margin: 0.5em 0 0.5em 0; }

#posts li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e0e0e0; }
#posts p {
  margin-bottom: 1.5em; }
#posts p.tasks {
  text-align: right;
  margin-bottom: 0.5em; }
#posts div.promote {
  float: left; }

form textarea {
  width: 100%; }
form fieldset {
  border: none; }
  form fieldset ol {
    padding: 0 0;
    margin: 0 0; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

img.gravatar {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 10px 0 0; }
